body {
    font-family: Arial, sans-serif;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: rgba(20, 21, 20, 0.911);
}

.justifyParagraph {
    margin-top: 3%; 
    text-align: justify; 
    text-justify: inter-word;
    }

header {
    background: #16f157;
    color: #fff;
    padding: 40px;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #16c9f1;
}
img {
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}